:root {
  box-sizing: border-box;
  --primary-color: #283593;
  --feature-color: rgb(195, 127, 0);
}

::before, ::after, * {
  box-sizing: inherit;
}

.hidden {
  display: none;
}

.cld {
  color: var(--feature-color);
  text-decoration: underline;
}

button {
  border: 0;
  padding: 0.5em 0.75em;
  background-color: var(--primary-color);
  color: white;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: calc(1.2vw + 0.75rem);
}

@media (min-width: 50em) {
  body {
    font-size: 1.3rem;
  }
}

.page-header {
  background-color: var(--primary-color);
  color: white;
  padding: 1em 0.75em;
  position: sticky;
  top: 0;
}

.page-header > h1 {
  margin: 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 3em 5em;
  margin: 0em -0.4em;
}

.hero > p {
  color: white;
  text-shadow: 2px 2px 3px black;
  font-size: 1.35em;
}

.logo {
  border-radius: 0.5em;
  width: 75px;
  height: auto;
}


@media (min-width: 35em) {
  .hero {
    padding: 4em 6em;
  }

  .hero > p {
    font-size: 1.5em;
  }

  .logo {
    width: 100px;
    height: auto;
  }
}

main {
  padding: 0em 0.4em;
}

@media (min-width: 35em) {
  main {
    padding: 0em 10%;
  }
}

@media (min-width: 50em) {
  main {
    padding: 0em 20%;
  }
}

.paragraph {
  padding: 1em 2em;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  line-height: 1.5;
}

.paragraph + .paragraph {
  margin-top: 1.5em;
}

@media (min-width: 35em) {
  .paragraph {
    padding: 2em 3em;
  }

  .paragraph + .paragraph {
    margin-top: 1.75em;
  }
}

@media (min-width: 50em) {
  .paragraph {
    padding: 3em 4em;
  }

  .paragraph + .paragraph {
    margin-top: 2em;
  }
}